In [43]:
import pandas as pd

In [44]:
df_preds = None
for i, f in enumerate(['cb-y-preds.csv','lgb-y-preds.csv','xgb-y-preds.csv']):
    if df_preds is None:
        df_preds = pd.read_csv(f)
        df_preds.columns = ['id', 'pred_{}'.format(i)]
    else:
        df1 = pd.read_csv(f)
        df1.columns = ['id', 'pred_{}'.format(i)]
        df_preds = df_preds.merge(df1, on ='id', how='left')

In [45]:
df_preds.head()

   id    pred_0    pred_1    pred_2
0   3  0.408882  0.334639  0.432304
1   4  0.001055  0.001519  0.009721
2   5  0.004768  0.001411  0.002473
3   8  0.000461  0.000120  0.000474
4  10  0.000725  0.000457  0.002300

In [46]:
test_ids = df_preds.id
df_preds = df_preds.drop(columns=['id'])

In [47]:
test_ids.head()

0     3
1     4
2     5
3     8
4    10
Name: id, dtype: int64

In [48]:
df_preds.head()

     pred_0    pred_1    pred_2
0  0.408882  0.334639  0.432304
1  0.001055  0.001519  0.009721
2  0.004768  0.001411  0.002473
3  0.000461  0.000120  0.000474
4  0.000725  0.000457  0.002300

In [49]:
df_preds.mean(axis=1)

0        0.391941
1        0.004099
2        0.002884
3        0.000352
4        0.001161
           ...
50221    0.001670
50222    0.003790
50223    0.005863
50224    0.009347
50225    0.000617
Length: 50226, dtype: float64

In [50]:
pd.DataFrame({"id": test_ids, "redemption_status": df_preds.mean(axis=1)}).to_csv('final_submission.csv', index=False)

In [51]:
print({"id": test_ids, "redemption_status": df_preds.mean(axis=1)})

{'id': 0             3
1             4
2             5
3             8
4            10
          ...
50221    128584
50222    128588
50223    128591
50224    128593
50225    128594
Name: id, Length: 50226, dtype: int64, 'redemption_status': 0        0.391941
1        0.004099
2        0.002884
3        0.000352
4        0.001161
           ...
50221    0.001670
50222    0.003790
50223    0.005863
50224    0.009347
50225    0.000617
Length: 50226, dtype: float64}